<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="dbConnection" connectionString="Data Source=sg2nlmysql23plsk.secureserver.net; Integrated Security=true;Initial Catalog=dbRealEstateCRM; uid=User12019819471; Password=n7ki$0B6;SSL Mode=None;convert zero datetime=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="SmsSender" value="DCTEAM" />
		<add key="SMSAPI" value="44279456-a1ae-453e-b0d6-60a980ad6e7a" />
		<add key="TwilioACCOUNTSID" value="AC4a7da49579404f61acc192ddebc02f0a" />
		<add key="TwilioAUTHTOKEN" value="a3f3ed28c5b48c5238dc2681cb2400a5" />
		<add key="TwilioPhone" value="+12296584573" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral,PublicKeyToken=cc7b13ffcd2ddd51" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" />
		<customErrors mode="Off"></customErrors>
		<trust level="Full" />
	</system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>